    .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 5px;
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}