<div class="form-group">
    <h1>Ex10: Todo Form</h1>
    <form [formGroup]="taskGroup" (ngSubmit)="taskCreated()">
        <label>
            Title : 
            <input type="text" formControlName="title">
        </label>
        <br/>
        <br/>
        <label>
            Description : 
            <input type="text" formControlName="description">
        </label>
        <br/>
        <br/>

        <select formControlName="status">
            <option [value]="enCours">En Cours</option>
            <option [value]="termine">Terminé</option>
        </select>
        <br/>
        <br/>
        <button type="submit">Créer la tache</button>
    </form>
</div>